<nav>
    <h2>
        <div id="logo"><a href="/"><img src="/media/popcat.gif" alt="popcat" width="45" /></div><b>BopBop</b></a>
    </h2>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
    </ul>
</nav>