<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/navbar.css">

    <title>BopBop - Login</title>
</head>

<body>
    <!-- Navbar -->
    <%- include('./partials/navbar-1'); %>
    <br><br>
    <div class="container-login">
        <div class="card">
            <div class="card-body">
                <div class="wrap-login">
                    <form class="login-form" action="/auth/login" method="POST">
                        <span class="login-form-title">Login</span>

                        <div class="wrap-input" data-validate="Email is required">
                            <input class="input" type="email" id="email" name="email" placeholder="Email" required>
                            <span class="focus-input"></span>
                        </div>

                        <div class="wrap-input" data-validate="Password is required">
                            <input class="input" type="password" id="password" name="password" placeholder="Password"
                                required>
                            <span class="focus-input"></span>
                        </div>

                        <div class="container-login-form-btn">
                            <button class="login-form-btn" type="submit">Login</button>
                        </div>
                    </form>
                </div> <!-- wrap-login -->
            </div> <!-- card-body -->

            <div class="card bg-danger text-white text-center p-1" id="warningAlert">
                <blockquote class="blockquote mb-0">
                    <p id="warningAlertText" style="margin-top: 2.5%;"></p>
                </blockquote>
            </div>
        </div> <!-- card -->
    </div> <!-- container-login -->

    <script src="/js/login.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
</body>

</html>